In [1]:
import pandas as pd

In [2]:
file = "Resources/movie_raw.csv"
uncleaned_df = pd.read_csv(file)
uncleaned_df

,Unnamed: 0,_id_x,Rank,Title,Worldwide,Domestic,Domestic Percent,Foreign,Foreign Percent,Year,...,Type,Website,Writer,imdbID,imdbRating,imdbVotes,Error,totalSeasons,_id_y,ProductionBudget
0,0,5e515c2b23671a85c7b277f1,2,Jurassic World,"$1,670,400,637","$652,270,625",39%,"$1,018,130,012",61%,2015,...,movie,NaN,"Rick Jaffa (screenplay by), Amanda Silver (scr...",tt0369610,7.0,"556,312",NaN,NaN,5e515e5723671a85c7b28731,"$215,000,000"
1,1,5e515c2b23671a85c7b277f2,3,Furious 7,"$1,515,047,671","$353,007,020",23.3%,"$1,162,040,651",76.7%,2015,...,movie,NaN,"Chris Morgan, Gary Scott Thompson (characters)",tt2820852,7.2,"344,990",NaN,NaN,5e515e5723671a85c7b28757,"$190,000,000"
2,2,5e515c2b23671a85c7b277f3,4,Avengers: Age of Ultron,"$1,402,805,868","$459,005,868",32.7%,"$943,800,000",67.3%,2015,...,movie,NaN,"Joss Whedon, Stan Lee (based on the Marvel com...",tt2395427,7.3,"697,604",NaN,NaN,5e515e5723671a85c7b28710,"$365,000,000"
3,3,5e515c2b23671a85c7b277f4,5,Minions,"$1,159,398,397","$336,045,770",29%,"$823,352,627",71%,2015,...,movie,NaN,Brian Lynch,tt2293640,6.4,"201,804",NaN,NaN,5e515e9523671a85c7b289c8,"$74,000,000"
4,4,5e515c2b23671a85c7b277f5,6,Spectre,"$880,674,609","$200,074,609",22.7%,"$680,600,000",77.3%,2015,...,movie,NaN,"John Logan (screenplay by), Neal Purvis (scree...",tt2379713,6.8,"365,008",NaN,NaN,5e515e5723671a85c7b28715,"$300,000,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,770,5e515c4623671a85c7b286ff,7,Underwater,"$40,204,674","$17,144,207",42.6%,"$23,060,467",57.4%,2020,...,movie,NaN,"Brian Duffield (screenplay by), Adam Cozad (sc...",tt5774060,6.1,"9,308",NaN,NaN,5e515eaa23671a85c7b28a59,"$65,000,000"
771,771,5e515c4623671a85c7b28701,9,Fantasy Island,"$24,961,403","$17,247,070",69.1%,"$7,714,333",30.9%,1977â€“1984,...,series,NaN,Gene Levitt,tt0077008,6.5,"6,368",NaN,7.0,5e51602e23671a85c7b29725,"$7,000,000"
772,772,5e515c4623671a85c7b28705,13,The Call of the Wild,"$8,049,000","$8,049,000",100%,-,-,1972,...,movie,NaN,"Federico De Urrutia, Hubert Frank, Jack London...",tt0069197,6.0,"1,388",NaN,NaN,5e515e6823671a85c7b28838,"$125,000,000"
773,773,5e515c4623671a85c7b28706,14,The Rhythm Section,"$5,901,057","$5,437,971",92.2%,"$463,086",7.8%,2020,...,movie,NaN,"Mark Burnell (screenplay by), Mark Burnell",tt7134096,5.3,"2,166",NaN,NaN,5e515edf23671a85c7b28be0,"$50,000,000"
774,774,5e515c4623671a85c7b28707,15,Emma,"$3,280,000","$80,000",2.4%,"$3,200,000",97.6%,1996,...,movie,NaN,"Jane Austen (novel), Douglas McGrath (screenplay)",tt0116191,6.6,"33,862",NaN,NaN,5e51604123671a85c7b297ea,"$5,900,000"

In [3]:
uncleaned_df.columns

Index(['Unnamed: 0', '_id_x', 'Rank', 'Title', 'Worldwide', 'Domestic',
       'Domestic Percent', 'Foreign', 'Foreign Percent', 'Year', 'Actors',
       'Awards', 'BoxOffice', 'Country', 'DVD', 'Director', 'Genre',
       'Language', 'Metascore', 'Plot', 'Poster', 'Production', 'Rated',
       'Ratings', 'Released', 'Response', 'Runtime', 'Type', 'Website',
       'Writer', 'imdbID', 'imdbRating', 'imdbVotes', 'Error', 'totalSeasons',
       '_id_y', 'ProductionBudget'],
      dtype='object')

In [4]:
summary_df = uncleaned_df[['Title', 'ProductionBudget', 'Worldwide', 
                          'Domestic','Foreign', 'Year', 'Awards',
                          'Genre', 'Production', 'Rated',
                          'imdbRating']]
summary_df = summary_df.rename(columns={"ProductionBudget": "Production Budget", "imdbRating" : "Imdb Rating"})
summary_df

,Title,Production Budget,Worldwide,Domestic,Foreign,Year,Awards,Genre,Production,Rated,Imdb Rating
0,Jurassic World,"$215,000,000","$1,670,400,637","$652,270,625","$1,018,130,012",2015,15 wins & 57 nominations.,"Action, Adventure, Sci-Fi",Universal Pictures,PG-13,7.0
1,Furious 7,"$190,000,000","$1,515,047,671","$353,007,020","$1,162,040,651",2015,Nominated for 1 Golden Globe. Another 33 wins ...,"Action, Adventure, Thriller",Universal Pictures,PG-13,7.2
2,Avengers: Age of Ultron,"$365,000,000","$1,402,805,868","$459,005,868","$943,800,000",2015,8 wins & 47 nominations.,"Action, Adventure, Sci-Fi",Walt Disney Pictures,PG-13,7.3
3,Minions,"$74,000,000","$1,159,398,397","$336,045,770","$823,352,627",2015,Nominated for 1 BAFTA Film Award. Another 4 wi...,"Animation, Adventure, Comedy, Family, Sci-Fi",Universal Pictures,PG,6.4
4,Spectre,"$300,000,000","$880,674,609","$200,074,609","$680,600,000",2015,Won 1 Oscar. Another 7 wins & 34 nominations.,"Action, Adventure, Thriller",Sony Pictures,PG-13,6.8
...,...,...,...,...,...,...,...,...,...,...,...
770,Underwater,"$65,000,000","$40,204,674","$17,144,207","$23,060,467",2020,NaN,"Action, Drama, Horror, Mystery, Sci-Fi, Thriller",NaN,PG-13,6.1
771,Fantasy Island,"$7,000,000","$24,961,403","$17,247,070","$7,714,333",1977â€“1984,Nominated for 1 Golden Globe. Another 9 nomina...,"Adventure, Comedy, Drama, Family, Fantasy",NaN,TV-G,6.5
772,The Call of the Wild,"$125,000,000","$8,049,000","$8,049,000",-,1972,NaN,"Adventure, Family",MGM,PG,6.0
773,The Rhythm Section,"$50,000,000","$5,901,057","$5,437,971","$463,086",2020,NaN,"Action, Drama, Mystery, Thriller",Paramount Pictures,R,5.3
774,Emma,"$5,900,000","$3,280,000","$80,000","$3,200,000",1996,Won 1 Oscar. Another 2 wins & 7 nominations.,"Comedy, Drama, Romance",A&amp;E Television Networks,PG,6.6

In [5]:
summary_df.count()

Title                775
Production Budget    775
Worldwide            775
Domestic             775
Foreign              775
Year                 775
Awards               702
Genre                775
Production           736
Rated                771
Imdb Rating          775
dtype: int64

In [6]:
cleaned_df = summary_df.dropna()
cleaned_df.reset_index(drop=True, inplace=True)
cleaned_df

,Title,Production Budget,Worldwide,Domestic,Foreign,Year,Awards,Genre,Production,Rated,Imdb Rating
0,Jurassic World,"$215,000,000","$1,670,400,637","$652,270,625","$1,018,130,012",2015,15 wins & 57 nominations.,"Action, Adventure, Sci-Fi",Universal Pictures,PG-13,7.0
1,Furious 7,"$190,000,000","$1,515,047,671","$353,007,020","$1,162,040,651",2015,Nominated for 1 Golden Globe. Another 33 wins ...,"Action, Adventure, Thriller",Universal Pictures,PG-13,7.2
2,Avengers: Age of Ultron,"$365,000,000","$1,402,805,868","$459,005,868","$943,800,000",2015,8 wins & 47 nominations.,"Action, Adventure, Sci-Fi",Walt Disney Pictures,PG-13,7.3
3,Minions,"$74,000,000","$1,159,398,397","$336,045,770","$823,352,627",2015,Nominated for 1 BAFTA Film Award. Another 4 wi...,"Animation, Adventure, Comedy, Family, Sci-Fi",Universal Pictures,PG,6.4
4,Spectre,"$300,000,000","$880,674,609","$200,074,609","$680,600,000",2015,Won 1 Oscar. Another 7 wins & 34 nominations.,"Action, Adventure, Thriller",Sony Pictures,PG-13,6.8
...,...,...,...,...,...,...,...,...,...,...,...
668,Batman,"$35,000,000","$28,793","$28,597",$196,1989,Won 1 Oscar. Another 8 wins & 26 nominations.,"Action, Adventure",Warner Bros. Pictures,PG-13,7.5
669,Quartet,"$11,000,000","$12,042","$12,042",-,2012,Nominated for 1 Golden Globe. Another 4 wins &...,"Comedy, Drama",The Weinstein Co.,PG-13,6.8
670,Serendipity,"$28,000,000","$2,298","$2,298",-,2001,3 nominations.,"Comedy, Romance",Miramax Films,PG-13,6.9
671,The Grudge,"$10,000,000","$46,770,420","$21,197,518","$25,572,902",2004,2 wins & 10 nominations.,"Horror, Mystery, Thriller",Sony Pictures Entertainment,PG-13,5.9
672,Emma,"$5,900,000","$3,280,000","$80,000","$3,200,000",1996,Won 1 Oscar. Another 2 wins & 7 nominations.,"Comedy, Drama, Romance",A&amp;E Television Networks,PG,6.6

In [7]:
cleaned_df.count()

Title                673
Production Budget    673
Worldwide            673
Domestic             673
Foreign              673
Year                 673
Awards               673
Genre                673
Production           673
Rated                673
Imdb Rating          673
dtype: int64

In [8]:
cleaned_df.to_csv("Output/movie_data.csv")